helloeworldgittest/src/main/mule/helloeworldgittest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="helloeworldgittestFlow" doc:id="5f7dc1d8-9f59-4a03-9c51-df8f9d68766d" >
		<scheduler doc:name="Scheduler" doc:id="376bc3c8-c768-494b-8b9c-359b8d692cd2" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="5bd0235c-4a29-4be2-9a95-b2867fbec5c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hi welcome  gitexample from anypoint"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6116ce25-f1ec-4aa1-9038-b5857dea8dbf" message="#[payload]"/>
	</flow>
</mule>
